@page
@model MegaDeskFinal.Pages.Desks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desk.DeskId" class="control-label"></label>
                <input asp-for="Desk.DeskId" class="form-control" />
                <span asp-validation-for="Desk.DeskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" />
                <span asp-validation-for="Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.NumberOfDrawers" class="control-label"></label>
                <input asp-for="Desk.NumberOfDrawers" class="form-control" />
                <span asp-validation-for="Desk.NumberOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.ReleaseDate" class="control-label"></label>
                <input asp-for="Desk.ReleaseDate" class="form-control" />
                <span asp-validation-for="Desk.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Price" class="control-label"></label>
                <input asp-for="Desk.Price" class="form-control" />
                <span asp-validation-for="Desk.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
